@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    font-1: 'Ubuntu', sans-serif;
}

*{
margin: 0px;
padding: 0px;
}

/*
body{
    height: 100%;
}
*/

header{
    background-color: tomato;
    height: 100px;
}